# App

APP_NAME=withdrawal-service
APP_VERSION=v0.1.1

# Logger
PRETTY_CONSOLE=true
LOG_LEVEL=debug

# Postgres

POSTGRES_USER=default
POSTGRES_PASSWORD=1234
POSTGRES_PORT=5446
POSTGRES_HOST=localhost
POSTGRES_DB_NAME=withdrawal

HTTP_PORT=8080

# Redis
REDIS_ADDR=localhost:6379
REDIS_PASSWORD=
REDIS_DB=0

# Auth
AUTH_JWT_SECRET=change-me-super-secret
AUTH_JWT_ISSUER=withdrawal-service
AUTH_ACCESS_TTL_SEC=900
AUTH_REFRESH_TTL_SEC=2592000
